h1 {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 400px;
    border-radius: 40px;
}

.character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.character {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.character img {
    max-width: 100%;
    height: auto;
}

/* Estilos del footer */


/* footer */ 
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container1 {
    max-width: 960px;
    margin: 0 auto;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
}

.contact-info h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 5px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
}

.social-links li a:hover {
    text-decoration: underline;
}

i {
    font-size: 40px;
}